<p style="color: green"><%= notice %></p>

<h3><%= render @post %><h3>



<span>
  <%= button_to "Edit this post", edit_post_path(@post), class:"btn btn-outline-primary" %>
  <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-outline-primary" %> </span>
  
  <h1> Comment </h1>
  <%= render "comments/form" %>

  
  <%= button_to "Back to posts", posts_path, class:"btn btn-outline-primary"  %>




